.section1{
    background-color: antiquewhite;
    .searchinput{
        position: relative;
        .fa-magnifying-glass{
            position: absolute;
            left: 0;
        }
        input{
            border-radius: 5px;
            padding: 5px 0;
            width: 50%;
            outline: none;
            border: none;
        }
    }
    a{
        list-style-type: none;
        text-decoration: none;
        color: black;
    }
}