header{
    height: 10vh;
}
header div ul {
    display: flex;
    list-style-type: none;
    
    justify-content: space-between;
}
header div ul li a{
    margin: 10px;
    color: black;
    text-decoration: none;
}
.col-12{
    border: 1px solid black;
    padding: 50px;
    gap:10px;
    margin: 20px;
    
}
.btn-danger{
    border: 1px solid transparent;
    border-radius: 5px;
}
.row{
    margin-top: 40px;
}