.team{
    color: white;
    background-color: rgb(101, 223, 223);
    padding: 100px 0;
    .icons{
        border: 7px solid rgb(34, 132, 132);
        padding: 15px;
        border-radius: 50%;
        font-size: 36px;
    }
}